.jumbo-toc table {
    border: 2px solid #334155;
}

.jumbo-toc table td {
    border: 2px solid #334155;
    vertical-align: top;
}

.jumbo-toc table td > p > a:first-child {
    font-size: 1.2em;
    font-weight: bold;
}

.jumbo-toc table ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.jumbo-toc table ul li {
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
}

.sidebar-logo-container {
    width: 75px;
    margin: 0 auto;
}

.sidebar-brand-text {
    text-align: center;
}


.intro,
.intro table,
.intro table tr,
.intro table td {
    border: none;
    box-shadow: none;
}

.guide-intro,
.guide-intro table,
.guide-intro table tr,
.guide-intro table td {
    border: none;
    box-shadow: none;
    vertical-align: top;
}

.guide-intro table tr td:first-child {
    padding-top: 2em;
}
.guide-intro table tr td:nth-child(2) {
    padding-left: 2em;
}


article[role=main] .graphviz {
    text-align: center;
}

div.graphviz >object {
    margin: 0 auto;
}


#furo-main-content img.screenshot {
    background-color: rgba(17, 24, 39, .05);
    box-shadow: inset 0 0 0 0, inset 0 0 0 0.5px rgb(17 24 39 / 0.1);;
    border-radius: 0.25rem;
    padding: 0.1rem;

}
